.container{
    display: grid;
    grid-gap: 25px;
    grid-template-areas:
    "header-grid header-grid header-grid"
    ". nav-grid ."
    "main-grid main-grid main-grid";
    grid-template-columns: 50px 1fr 50px;
    margin: 15px;
    background: #992600;
    font-family: "Roboto", sans-serif;    
}


header{
    grid-area: header-grid;
    margin: 25px 25px 25px 25px;
    background-color: #994d00;
    text-align: center;
    border-radius: 10px;
    font-size: 28px;
}

main{
    grid-area: main-grid;
    margin: 25px 25px 25px 25px;
    background-color: #DAE8F2;
    border-radius: 10px;
    font-size: 18px;
}

nav{
    grid-area: nav-grid;
    height: 50px;
    margin: 0px 5px 0px 5px;
    background-color: #DAE8F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2em;
    border-radius: 5px;
}

article{
    border: 1px solid black;
    margin: 5px;
}

body{
    background-color: #4D565E;
}

a{
    color: #000C66;
}

pre{
    background-color: #FFFFFF;
}
